* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 90px;
  background-color:rgba(255,255,255,0.8);
  align-items: center;
  width: 100%;
  padding: 1vh 0;
  justify-content: space-between;
}

.sharecamp-icon {
  width: 20vw;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}



.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  border: 1px solid #43745e;
  border-radius: 10px 0 0 10px;
}


.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #43745e;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.search-icon {
  width: 100%;
} 

.lists {
  padding: 0 40px;
}

.lists-right {
  font-size: 14px;
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: bold;
  height: 20px;
}


.user-nickname {
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  background: #edecd7d8;
  border: 1px solid #43745e;
  border-radius: 25px;
  padding:14px 40px;
  margin-right: 10px;
}


.logout {
  color: #fff;
  background: #43745e;
  border: 1px solid #43745e;
  border-radius: 25px;
  padding:15px 40px;
}

.login {
  color: #fff;
  background: #43745e;
  border: 1px solid #43745e;
  border-radius: 25px;
  padding:15px 40px;
  margin-right: 10px;
}

.sign-up {
  color: #fff;
  background: #43745e;
  border: 1px solid #43745e;
  border-radius: 25px;
  padding:15px 40px;
  
}
