.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #edecd7d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 285px;
  height: 125px;
}