a {
  text-decoration: none;
}

.main {
  background: #edecd7d8;
  padding-top: 90px;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */


.title-contents {
  width: 100vw;
  height: 700px;
  background-image: image-url('camp-main01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 7vh;
  font-weight: bold;
}

.service-explain {
  font-size: 2.6vh;
  line-height: 40px;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.howtouse-contents {
  padding: 10vh;
  background-color:#edecd7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howtouse {
  background-color: #e3e0cfd8;
  width:93vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  border-radius: 15px;
}

.howtouse>.title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 4vh;
  position: relative;
  color: #43745e;
  font-family: 'Chalkboard',sans-serif;
}

.howtouse>.title::after {
  content: '';
  width: 270px;
  height: 4px;
  background-color: #43745e;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.reason-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  height: 25vh;
  margin: 30px 0 30px 0;
}

.reason-lists>.list {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-weight: bold;
  background-color: #fff;
  border-radius: 30px;
}

.list-pict1 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 60px;
}

.list-pict2 {
  position: absolute;
  top: 140px;
  left: 290px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 60px;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  padding-top: 30px;
}

.reason-list-green-text {
  color: #43745e;
}

.reason-list-description {
  font-size: 18px;
  margin: 10px 20px;
}

/* 商品一覧 */

.item-contents {
  background-color: #edecd7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.pickup {
  background-color: #e3e0cfd8;
  width:80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  border-radius: 15px;
}

.pickup>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #43745e;
  position: relative;
  font-family: 'Chalkboard',sans-serif;
}

.pickup>.title::after {
  content: '';
  width: 370px;
  height: 4px;
  background-color: #43745e;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.item-lists {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;

}

.item-lists>.list {
  width: 38vh;
  padding: 35px;
  background-color: #FFF;
  border-radius: 10px;
  margin: 20px 20px;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 230px;
  height: 230px;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: #C53535;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */